# Pip requirements for Google Cloud Functions.
# Must match install_requires from setup.py.
google-api-core=1.16.0
google-cloud-bigquery
google-cloud-pubsub
google-cloud-firestore
google-cloud-secret-manager
jsonschema
requests
pyyaml
jinja2
python-dateutil
